{% extends "base.html" %}
{% block head_title %}Tweet Me{% endblock head_title %}
{% block content %}
<h1>Welcome to Tweet me</h1>


<div id="tweets"> Replace me </div>




<script>
function formatTweetElement(tweet){

  var formatTweetElement = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content + "</p></div>"
  return formatTweetElement
}




const tweetsElement = document.getElementById("tweets")
tweetsElement.innerHTML = "loading..."

const xhr = new XMLHttpRequest()
const method = "GET"
const url = "/tweets"
const responseType = "json"


xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
  const serverResponse = xhr.response
  const listedItems = serverResponse.response
  var finalTweetStr = ""
  var i;
  for(i=0;i<listedItems.length;i++){
    var tweetObj = listedItems[i]
    var currentItem = formatTweetElement(tweetObj)
      finalTweetStr += currentItem

  }
  tweetsElement.innerHTML = finalTweetStr


}
xhr.send()

</script>


{% endblock content %}
